@import "tailwindcss";

:root {
  box-sizing: border-box;
}
@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/IRANSansXFaNum-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/IRANSansXFaNum-UltraLight.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/IRANSansXFaNum-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/IRANSansXFaNum-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/IRANSansXFaNum-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/IRANSansXFaNum-DemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/IRANSansXFaNum-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/IRANSansXFaNum-ExtraBold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/IRANSansXFaNum-Black.woff") format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "kabel";
  src: url("/kabel/kabel.ttf") format("ttf");
}

@theme {
  --font-iransans: "Iransans", ui-sans-serif, system-ui, sans-serif;
  --font-kabel: "kabel", ui-sans-serif, system-ui, sans-serif;

  --radius-me-radius-card: 35px;

  --color-foregroundRGB: 10, 10, 10;
  --color-back: 255, 255, 255;
  --color-m-background: oklch(97.913% 0.00011 271.152); /* light background */
  --color-m-foreground: oklch(14.479% 0.00002 271.152); /* dark background */
  --color-m-dark: oklch(0.92 0.003 95); /* lighter dark */
  --color-m-light: oklch(0.99 0 0); /* near white */

  --color-m-text: oklch(30.196% 0.04562 69.829);
  --color-m-text-muted: oklch(0.3 0 0); /* dark gray */
  --color-m-text-muted-sub: oklch(0.45 0 0); /* mid gray */

  --color-m-primary: oklch(0.65 0.13 40.73); /* same chroma/hue, lighter tone */
  --color-m-secondary: oklch(0.75 0.11 166.83); /* lighter green/teal */

  --radius: 0.65rem;

  --line-offset: 150px;
}

@layer base {
  [data-theme="dark"] {
    --color-foregroundRGB: 248, 248, 248;
    --color-back: 0, 0, 0;
    --color-m-background: oklch(14.479% 0.00002 271.152);
    --color-m-foreground: oklch(97.913% 0.00011 271.152);
    --color-m-dark: oklch(24.354% 0.00003 271.152);
    --color-m-light: oklch(0.2178 0 0);
    --color-m-text: oklch(0.8496 0.047 70.29);
    --color-m-text-muted: oklch(0.7668 0 0);
    --color-m-text-muted-sub: oklch(0.6066 0 0);

    --color-m-primary: oklch(0.4932 0.1351 40.73);
    --color-m-secondary: oklch(0.6715 0.1036 166.83);
  }
}

.line_x_animation::before,
.line_x_animation::after {
  content: "";
  --a-easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --a-duration: 1.08s;
  --a-delay: 0.15s;
  --line-gap: 1;
  --line-width: 1;

  --line-color: rgba(var(--color-foregroundRGB), calc(0.15 * 3));
  --line-fade-stop: 93%;

  width: calc(100% + var(--line-offset));
  left: calc(var(--line-offset) / 2 * -1);
  position: absolute;
  height: 1px;
  animation: intro_x var(--a-duration) var(--a-easing) forwards;
  animation-delay: calc(var(--a-delay) + 0.1s);
  background: linear-gradient(
    to right,
    var(--line-color),
    var(--line-color) 50%,
    transparent 0,
    transparent
  );
  background-size: 4px 1px;
  -webkit-mask:
    linear-gradient(
      to left,
      var(--color-m-background) var(--line-fade-stop),
      transparent
    ),
    linear-gradient(
      to right,
      var(--color-m-background) var(--line-fade-stop),
      transparent
    ),
    linear-gradient(black, black);
  mask-composite: exclude;
}

.line_x_animation::before {
  top: 0;
}

.line_x_animation::after {
  bottom: 0;
}
@keyframes intro_x {
  0% {
    opacity: 1;
    width: 0%;
  }

  to {
    width: calc(100% + var(--line-offset));
    opacity: 0.6;
  }
}

.line_y_animation {
  content: "";
  --a-easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --a-duration: 1.08s;
  --a-delay: 0.15s;
  --line-color: rgba(var(--color-foregroundRGB), calc(0.15 * 3));
  --line-fade-stop: 93%;

  height: calc(100% + var(--line-offset));
  top: calc(var(--line-offset) / 2 * -1);
  position: absolute;
  width: 1px;
  animation: intro_y var(--a-duration) var(--a-easing) forwards;
  animation-delay: calc(var(--a-delay) + 0.1s);
  background: linear-gradient(
    to bottom,
    var(--line-color),
    var(--line-color) 50%,
    var(--line-color) 75%,
    transparent
  );
  background-size: 1px 4px;
  -webkit-mask:
    linear-gradient(
      to top,
      var(--color-m-background) var(--line-fade-stop),
      transparent
    ),
    linear-gradient(
      to bottom,
      var(--color-m-background) var(--line-fade-stop),
      transparent
    ),
    linear-gradient(black, black);
  mask-composite: exclude;
}

@keyframes intro_y {
  0% {
    opacity: 1;
    height: 0%;
  }

  to {
    height: calc(100% + var(--line-offset));
    opacity: 0.6;
  }
}

.line-anim::before {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 0px;
  z-index: 3;
  animation: 1s ease 0.1s 1 normal forwards running k-iAsmag;
}
.line-anim::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 0px;
  animation: 1s cubic-bezier(0.25, 1, 0.5, 1) 0.05s 1 normal forwards running
    k-bHvlyS;
}

@keyframes k-iAsmag {
  0% {
    background: transparent;
  }
  50% {
    background: var(--color-m-text);
  }
  100% {
    width: 100%;

    background: transparent;
  }
}

@keyframes k-bHvlyS {
  0% {
    background: transparent;
  }

  50% {
    background: var(--color-m-text);
  }
  100% {
    width: 100%;
    opacity: 0.2;
    background: var(--color-m-text);
  }
}

.noise-overlay {
  -webkit-mask: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 7.495777027027025%,
      rgba(0, 0, 0, 1) 86.01316159909909%
    )
    add;
  bottom: calc(100% - min(var(--framer-viewport-height, 100%), 100%) - 0.5px);
  flex: none;
  left: 0;
  mask: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 7.495777027027025%,
      rgba(0, 0, 0, 1) 86.01316159909909%
    )
    add;
  order: 1008;
  pointer-events: none;
  position: var(--framer-canvas-fixed-position, fixed);
  right: 0;
  top: 0;
  z-index: 100;
}

.noise-overlay-child {
  width: 100%;
  height: 100%;
  background-size: 128px;
  background-repeat: repeat;
  background-image: url(/noise.png);
  opacity: 0.04;
  border-radius: 0;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

/* cubic-bezier(0.22, 1, 0.36, 1) */
::view-transition-old(.slide-up),
::view-transition-new(.slide-up) {
  animation: cubic-bezier(0.87, 0, 0.13, 1) forwards slideUp 1500ms;
}
::view-transition-old(.slide-down),
::view-transition-new(.slide-down) {
  animation: cubic-bezier(0.87, 0, 0.13, 1) forwards slideDown 1500ms;
}
::view-transition-old(.exit-down),
::view-transition-new(.exit-down) {
  animation: cubic-bezier(0.87, 0, 0.13, 1) forwards exitDown 1500ms;
}

::view-transition-old(.exit-up),
::view-transition-new(.exit-up) {
  animation: cubic-bezier(0.87, 0, 0.13, 1) forwards exitUp 1500ms;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    clippath: polygon (0% 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    clippath: polygon (0% 100%, 100% 100%, 100% 0%, 0% 0%);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes exitUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.2;
    transform: translateY(-35%);
  }
}

@keyframes exitDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.2;
    transform: translateY(35%);
  }
}

.hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.font-res {
  font-size: clamp(3.5rem, 12vw + 1rem, 12rem);
}

.liquid-filter {
  -webkit-filter: url(#liquid);
  filter: url(#liquid);
}

::-webkit-scrollbar {
  display: none;
}

/* Hide Scrollbar for Firefox & Internet Explorer & Edge */
.hide-scrollbar-firefox {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
